---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/writing/medium-roast-home-brew/" />
    <link rel="canonical" href="https://dipakwani.com/writing/medium-roast-home-brew/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p><a href="/writing/medium-roast-home-brew/">Redirecting to Medium Roast, Home Brew.</a></p>
  </body>
</html>
