---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/writing/the-unusual-screen-time/" />
    <link rel="canonical" href="https://dipakwani.com/writing/the-unusual-screen-time/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p><a href="/writing/the-unusual-screen-time/">Redirecting to The unusual screen time.</a></p>
  </body>
</html>
